.login {
    &__container {
        max-width: 50rem;
        margin: 6rem auto;
        background-color: $color-white;
        border-radius: 5px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    }
}
