// DECLARE COLOR
$color-white: #ffffff;

$color-black: #000000;
$color-black-1: #acaeaf;
$color-black-2: #303437;

$color-gray: #757575;

$color-purple-1: #f3e5f5;

//DECLARE FONT
$default-font: "Balsamiq Sans", cursive;
